/* Add CSS Styling */
.odd {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.line3 {
    font-size: 24px;
}

#even2 {
    color: blue;
    font-size: 32px;
}

#even4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}